<!-- 
  <button onclick="document.getElementById('myImage').src='../../assets/capture.JPG'">Light On</button>
<img id="myImage" src="../../assets/bulb1.JPG" width="100" height="180">
<button onclick="document.getElementById('myImage').src='../../assets/bulb1.JPG'">Light Off</button> -->
<!-- <app-chitra></app-chitra> -->
<!-- <router-outlet></router-outlet>  -->
<!-- <app-work></app-work> -->
<!-- <app-game></app-game> -->
<!-- <app-sam></app-sam> -->
<!-- <app-sample></app-sample> -->
<!-- <app-log></app-log> -->
<!-- <app-cals></app-cals> -->
<!-- <app-fcal></app-fcal> -->
<router-outlet></router-outlet>
<!-- <app-mult3></app-mult3> -->
<!-- <app-nav></app-nav> -->
